
@{
    ViewData["Title"] = "Success";
}

<h1>ثبت نام با موفقیت انجام شد</h1>

<div class="alert alert-success">
    کاربر عزیز ممنون از ثبت  نام شما 
<p>
    <a asp-controller="Home" asp-action="Index">
        ورود به سایت
    </a>
</p>

</div>

